h1
{
  color: navy;
  text-align: center;
}

div
{
  color: navy;
  text-align: center;
  font-size: 24px;
}

body
{
  background-color: khaki;
}

.center
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.bigbutton
{
  color: navy;
  font-size: 48px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 32px;
  background: linear-gradient(to bottom right, #E0E0E0, #808080);
  margin-bottom: 12px;
}
